/* Dark landing page background */

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:#0e0e0e; */
    background-color: var(--bg);
    color:white;
}

/* grid overlay */

body::before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0.025;
    pointer-events: none;
    background-image:
        linear-gradient(rgba(255,255,255, 1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255, 1) 1px, transparent 1px);
    background-size: 56px 56px;
    z-index: 0;
}

/* Main layout */

.landing-container{
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 100px 120px;
}


/* Left side text */

.brand {
    max-width:400px;
    padding-bottom:100px;
}

.brand h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size:40px;
    margin-bottom:15px;
}

.brand p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color:#aaaaaa;
    line-height:1.5;
}


/* Login Card */

.login-card {
    /* background:#1b1b1b; */
    background: var(--bg);
    padding:40px;
    width:320px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    z-index: 1;
}

.signup-card {
    /* background: #1b1b1b; */
    background: var(--bg);
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-card > h2 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom:25px;
}

.signup-card > h2 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

/* Form */

.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
}

/* Inputs */

.form label {
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    color:#aaa;
}

.form label > span {
    display: none;
    color: red;
}

.form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background: #222;
    border: 1px solid #2D2D2D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

.invalid-input {
    display: none;
    position: relative;
    top: -15px;
    height: 0px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

/* password strength */

#strength-frame {
    display: none;
    position: relative;
    height: fit-content;
    margin-top: 10px;
    top: -10px;
}

#strength-title {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

#strength-text {
    font-size: 12px;
    font-weight: 600;
    color: grey;
}

.strength-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.strength-bar {
    width: 100%;
    height: 5px;
    background-color: #303030;
    border-radius: 2px;
}

/* Login button */

.submit {
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background: var(--accent);
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition: background-color 0.15 ease;
}

.submit:hover{
    background:#ff7a14;
}

.sign-up {
    font-size: 10px;
    font-weight: 500;
    text-decoration: underline;
    color: #888;
    cursor: pointer;
    transition: color 0.2s ease;
}

.sign-up:hover {
    color: white;
}